/* color variables */
:root {
  --blue-black: #1a1a40;
  --blue: #270082;
  --magenta: #7a0bc0;
  --rose: #fa58b6;
}

/* general rules */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  transition: 0 0.5s ease-in-out;
}

body {
  font-family: "Roboto", sans-serif;
}
